.about {
    margin: 0 auto;
    overflow-y: auto;
}

.first_screen,
.second_screen,
.third_screen,
.fourth_screen {
    width: 1905px;
    height: 900px;
    background: #090909;
    display: flex;
    overflow: hidden;
}

.bot_part {
    min-width: 1591px;
    position: relative;
}

.bot_decorations,
.second_decoration,
.coin_decoration,
.digit_decoration,
.but_decoration {
    width: 100%;
    height: 100%;
    border-top-right-radius: 120px;
    border-right: 2px solid #1B1A1F;
    padding: 76px 0 0 135px;
}

.bot_decorations {  
    background-image: url('../../../public/img/bg.png');
}

.bot_container,
.but_container {
  width: 1399px;
  height: 770px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bot_high {
    width: 100%;
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.links {
    display: flex;
    width: 170px;
    justify-content: space-between;
}
  
.link {
    width: 50px;
    height: 50px;
    border: 1px solid #212126;
    background: none;
    cursor: pointer;
}

.link_h {
    display: none;
    justify-content: center;
    align-items: center;
  }
  
.link:last-child {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.link p {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 5px;
}

.bot_title_block {
    width: 315px;
}

.bot_title {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFCF52;
}
  
.bot_title:last-child {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    /* or 146% */
    color: #FFFFFF;
}

.bot_low {
    display: flex;
}

.option {
    display: flex;
    margin-right: 48px;
}

.option:last-child {
    margin-right: 0;
}

.option_btn {
    border: 1px solid #1F2023;
    background: transparent;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.option_txt {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.second_decoration {
    background: url('../../../public/img/bg_s.png');
    padding: 0;
    border: none;
}

.coin_decoration {
    background: url('../../../public/img/logotypes.png');
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: top 60px left 440px;
}

.coin_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coin_title_block {
    width: 389px;
}

.coin_title {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFCF52;
}

.coin_title:last-child {
    color: #fff;
}

.coin_txt {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    color: #A2A3A4;
}

.coin_desc {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 327px;
    color: #FFFFFF;
}

.coin_button {
    margin-top: 25px;
    width: 318px;
    height: 78px;
    background: transparent;
    border: 1px solid #2E3033;
    cursor: pointer;
}

.coin_button_txt {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */
    margin-right: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.digit_decoration {
    background: url('../../../public/img/bg_th.png');
}

.digit_container {
    width: 1371px;
    height: 742px;
    display: flex;
    flex-wrap: wrap;
}

.digit_text_block {
    width: 457px;
    height: 371px;
}

.digit_text {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.digit_text:nth-child(3) {
    color: #FFCF52;
}

.digit_block {
    width: 457px;
    height: 371px;
    background: transparent;
    padding: 47px 0 45px 51px;
    border: 1px solid #25292F;
    transition: all .3s ease;
}

.digit_block:hover {
    border: none;
    background: #FFCF52;
    transform: scale(1.05);
}

.digit_block:hover p {
    color: black;
}

.digit_block_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.digit_header {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.digit_crit {
    display: flex;
}

.digit_crit_txt {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.digit_crit_txt:nth-child(2) {
    margin-left: 16px;
}

.fourth_screen {
    background: url('../../../public/img/bg_fo.png');
}

.fourth_scheme {
    width: 100%;
    height: 100%;
    background: url('../../../public/img/cpu_board.png');
    display: flex;
}

.but_header {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 407px;
    color: #FFFFFF;
}

.but_button {
    width: 250px;
    height: 78px;
    border: 1px solid #2D2F32;
    background: none;
    cursor: pointer;
}

.but_button_txt {
    font-family: 'Ristretto Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 14px;
}

.button_block {
    /* position: relative; */
}

.button_img {
    position: absolute;
    top: 297.53px;
    left: 811.64px;
    pointer-events: none;
    cursor: pointer;
}

.button_block:hover  img {
    opacity: 1;
}

.button_on_f {
    position: absolute;
    top: 392.73px;
    left: 900.55px;
    opacity: 0;
    transition: all .3s ease;
}

.button_on_s {
    position: absolute;
    top: 376.16px;
    left: 952.82px;
    opacity: 0;
    transition: all .3s ease;
}

.static {
  position: fixed;
  top: 0;
  right: 0;
}

.nav_part {
  display: none;
}

@media (max-width:1919px) {
    .nav_part {
        background: #090909;
      }
    /* .links {
      width: 240px;
    }
  
    .nav_part {
      display: none;
    }
  
    .link_h {
      display: flex;
    }
  
    .nav_part {
      position: absolute;
      width: 314px;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 9;
      top: 600px;
      background: black; 
    }*/
  
    /* .first_screen,
    .second_screen,
    .third_screen,
    .fourth_screen {
      width: 80vw;
    } */

    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
        /* padding: 76px 0 0 143px; */
        width: 80vw;
    }

    .digit_container {
        width: 80vw;
    }
  
    .third_screen,
    .digit_container {
        height: auto;
    }

    .bot_part,
    .info_part {
      min-width: 80vw;
    }
  
    .bot_container,
    .but_container {
        width: 67vw;
    }
  }

  @media (max-width: 1513px) {
    .info_part,
    .bot_part {
      min-width: 78vw;
    }
    .bot_text_block {
      width: 60vw;
      margin: 0 auto;
    }

    .digit_container {
        width: 67vw;
    }
  
    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
      /* padding-left: 0px; */
      width: 79vw;
    }
  }
  
  @media (max-width: 1400px) {
    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
      /* padding-left: 0px; */
      width: 78vw;
    }

    .button_img,
    .button_on_f,
    .button_on_s {
        display: none;
    }

    .bot_container,
    .but_container {
        width: 58vw;
    }
  }

  @media (max-width: 1380px) {
    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
      /* padding-left: 0px; */
      width: 78vw;
    }
  }
  
  @media (max-width: 1283px) {
    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
      /* padding-left: 0px; */
      width: 73vw;
    }
  }

  @media (max-width: 1300px) {
    .info_part,
    .bot_part {
      min-width: 75vw;
    }
  
    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
      /* padding-left: 0px; */
      width: 75vw;
    }
  
  }
  
  @media (max-width: 1230px) {
    .info_part,
    .bot_part {
      min-width: 73vw;
    }
    .bot_decoration {
      padding-left: 30px;
    }
    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
      /* padding-left: 0px; */
      width: 73vw;
    }
  }
  
  @media (max-width: 1070px) {
    .info_part,
    .bot_part {
      min-width: 71vw;
    }
  }
  

  @media (max-width: 1000px) {
    .links {
      width: 240px;
    }
  
    .nav_part {
      display: none;
    }

    .digit_block {
      display: none;
    }

    .digit_block:nth-child(1),
    .digit_block:nth-child(2) {
      display: flex;
    }

    .static {
      display: none;
    }
  
    .link_h {
      display: flex;
    }

    .bot_container {
        width: 85vw;
    }
  
    .nav_part {
      position: absolute;
      width: 314px;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 9;
      top: 600px;
      background: black; 
    }
  
     .first_screen,
    .second_screen,
    .third_screen,
    .fourth_screen {
      width: 100vw;
      min-height: 900px;
    }
    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
        border-top-right-radius: 0;
        padding: 76px 0 0 43px;
        width: 100vw;
    }

    .first_screen,
    .second_screen,
    .third_screen,
    .fourth_screen {
      height: auto;
    }

    .digit_decoration {
        /* padding: 0; */
        display: flex;
    }

    .digit_container {
        width: 100vw;
        margin: 0 auto;
        height: auto;
    }

  }
  
  @media (max-width: 502px) {
    .bot_high {
        flex-direction: column;
    }

    .coin_title_block {
        width: 69vw;
    }

    .bot_decorations,
    .second_decoration,
    .coin_decoration,
    .digit_decoration,
    .but_decoration {
        border-top-right-radius: 0;
        padding: 76px 0 0 10px;
    }
    .info_high {
      flex-direction: column;
    }
  
    .info_title {
      margin-bottom: 10px;
    }

    .but_header {
        width: 60vw;
    }
  
    .bot_title_block {
      max-width: 100vw;
    }
  
    .bot_title {
      display: block;
      max-width: 100px;
    }
  
    .bot_decoration,
    .info_decoration {
      padding: 76px 0 0 43px;
      border-top-right-radius: 0;
    }

    .digit_block {
        width: 95vw;
    }
    .option {
        margin-right: 10px;
    }
  }